@import "../App.css";

.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    justify-content: left;
    width: 60%;
    padding-right: 30px;
    padding: 5%;
    padding-left: 10%;
}

.connect {
    font-weight: bold;
    padding-top: 50px;
}

.social {
    display: flex;
}

.social a{
    display: flex;
    font-weight: 400;
    padding: 10px 30px 0 0;
}

.social img{
    padding-right: 10px;
    align-items: center;
}

.graphic img{
    display: flex;
    justify-content: right;
    width: 400px;
    align-items: center;
    padding-right: 30px;
}