.navbar {
  padding: 40px 50px;
  position: fixed;
  background: transparent;
  width: 100%;
}

.wrapper {
padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  color: #c0c5e3;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  width: auto;
  justify-content: space-between;
}

.links a{
    padding: 0 30px;
}

.links a:hover {
  color: #384bb5;
}

.links a.active {
  color: #384bb5;
}

.links {
  cursor: pointer;
}
